
.right {
    float: right
  }
  
  .oneline{
    white-space:nowrap;
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
  }

  .inlineBlock{
    display: inline-block
  }

  .top100{
    margin-top: 100px;
  }
  
  .close
  {
    z-index:10;
    margin-left:-3rem;
    margin-right:1rem;
  }

  .marginR13{
    margin-right: 13px;
   
  }

  .marginB13{
  margin-bottom: 13px;
  }

  .backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}